#vid1, #vid2, #vid3, #vid4 {
    /*text-align: center;*/
    width: 30%;
    height: 45%;
    /*float: left;*/
    margin: 20px;
    cursor: move;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}
#vid1 video, #vid2 video, #vid3 video, #vid4 video {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}